<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User View Counter</title>
    <link rel="stylesheet" href="https://cdn.shoelace.style/1.0.0-beta24/shoelace.css">
    <script>
        function displayFilename () {
            document.getElementById('file-text').value = document.getElementById('file-button').value;
        };
    </script>
</head>
<body>
<header class="text-center mar-lg">
    <h1>Log Parser</h1>
</header>

<div class="container">
    <div class="row row-center">
        <p>This is a simple app that takes a log file and displays the top 10 users. Log lines need to match this regex:</p>
    </div>
    <div class="row row-center">
        <pre>'^\d+? \d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2} ".+?" \d+? [\d.]+? (?P&lt;username&gt;.+?)\s'</pre>
    </div>
    <div class="row row-center">
        <p>Take a look at the <a href="https://github.com/millsjustin/userViewCounter">source code</a></p>
    </div>
    <div class="row row-center">
        <form method="post" enctype="multipart/form-data" action="/results" class="w-50">
            <div class="input-group">
                        <span class="file-button">
                            <input type="file" id="file-button" name="file-button" onchange="displayFilename()">
                            <label class="button" for="file-button">Select Log File</label>
                        </span>
                <input type="text" disabled="" id="file-text" title="file-text"/>
                <button type="submit" class="button">Submit</button>
            </div>
        </form>
    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="row row-center">
        <div class="alert alert-warning">{{ message }}</div>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>
</body>
</html>